.intro {
  width: 50%;
  font-style: italic;
}
p.lorem {
  width: 75%;
  font-weight: bold;
}
h1 {text-align: center;
}
h2 {text-align: center;
}
h3 {
  text-align: center
}
body {
  background-color: gray;
}
#fin {
  color: red;
  font-style: italic;
  text-align: center;
}
.img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}